<form [formGroup]="boardFormGroup" class="flex">
  <mat-form-field appearance="fill" class="step-form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="step-form-field">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="" required />
  </mat-form-field>

  <div formGroupName="columns">
    <mat-form-field appearance="fill" class="step-form-field">
      <mat-label>name</mat-label>
      <input matInput formControlName="name" placeholder="" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="step-form-field">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" placeholder="" required />
    </mat-form-field>
  </div>

  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
