<div class="container">
  <mat-accordion>
    <ng-container *ngFor="let project of projectsArrayModified; let i = index">
      <mat-expansion-panel (opened)="project.isOpen = true"
                           (closed)="project.isOpen = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1 [ngStyle]="{'color': project.color}">{{project.name}}</h1>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              Currently I am {{project.isOpen ? 'open' : 'closed'}}
            </span>
            <span>
              Boards: <span [ngStyle]="{'color': project.color}" matBadge="{{project.boards.length}}"
                            matBadgeOverlap="false" class="demo-section"></span>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="no-boards" *ngIf="!project.boards.length">
          <h1>
            There are no boards in this project
          </h1>
          <button mat-raised-button color="primary">Add Board</button>
        </div>
        <div class="cards-container">
          <ng-container *ngFor="let board of project.boards">
            <div class="card-container">
              <div class="bg" [ngStyle]="{'background': project.color}"></div>
              <div class="project-card">
                <!--      <h1 [ngStyle]="{'background': project.color}">{{project.abbreviation}}</h1>-->

                <h1 [ngStyle]="{'color': project.color}">
                  {{board.name}} <span *ngIf="view === 'table'">- {{board.abbreviation}}</span>
                </h1>
                <h3 *ngIf="project.search">
                  Project with name <strong [ngStyle]="{'color': 'red'}">"{{project.search}}"</strong> does not exist!
                </h3>
                <p>
                  {{description(board.description)}}
                </p>
                <div *ngIf="!project.search">
                  <button mat-button (click)="openDialog(board.id)">Details</button>
                  <!--        <button [routerLink]="['/application/setting/description', project.id]">Description</button>-->
                  <button mat-button [routerLink]="['/application/setting/edit', board.id]">Edit</button>
                  <button mat-button [routerLink]="['/application/setting/board', board.id]">Enter</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <footer>
    <mat-paginator [length]="projectsLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="settingsChanged($event)"
                   aria-label="Select page"
                   class="paginator">
    </mat-paginator>
  </footer>
</div>



