<mat-drawer-container class="mat-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <ul class="sidenav-items">
      <li class="flex">
        <span class="material-icons dashboard">space_dashboard</span>
        <p routerLink="boards">boards</p>
      </li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="expand" type="button" mat-button (click)="drawer.toggle()">
      <span class="material-icons ch-right">chevron_right</span>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
