<mat-drawer-container class="mat-container" autosize>
  <mat-drawer #drawer class="sidenav" position="end" mode="side">
    <app-sidenav-form></app-sidenav-form>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="project-container grid">
      <div class="add-container" (click)="drawer.open()">
        <div class="add-project" >
          <span class="material-icons close">add</span>
          <p class="add">Add Project</p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
