.mat-container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding-right: 20px;
  padding-left: 20px;
}

.sidenav-items {
  margin-top: 50px;
}

.flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.dashboard {
  width: 18px;
  height: 18px;
  justify-content: center;
}

.add-project {
  display: flex;
  justify-content: center;
  padding: 18px 10px 8px 10px;
}

.add-container {
  border: 2px solid #d4d2d2;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ededed;
}

.add-container:hover {
  background-color: #dbd8d8;
}
