<div class="container">
  <p>
    <app-navigation></app-navigation>
  </p>

  <div>
    <div><app-side-menu></app-side-menu></div>

    <div class="table-bordered">
      Select Project: <select [ngModel]="currentProject?.id"
                      (ngModelChange)="selectedProject($event)">

                <option *ngFor="let project of projects$ | async"
                        [value]="project.id"
                       >
                        {{project.name}}
                </option>

              </select>

    </div>


  </div>

</div>
