<div class="container" #project>

  <div >

    <div class="table-bordered">
      Select Project: <select [ngModel]="currentProject?.id"
                              (ngModelChange)="selectedProject($event)">

      <option *ngFor="let project of projects$ | async"
              [value]="project.id"
      >
        {{project.name}}
      </option>

    </select>
      <button>Setting</button>
      <button routerLink="/stepper">Add Project</button>
    </div>
  </div>
  <div class="mainContent">
    <div class="sidebar">
      <app-side-menu></app-side-menu>
    </div>
    <div class="content">

      <router-outlet></router-outlet>

    </div>
  </div>




</div>
