<div class="container">
  <p>project works!</p>

<div>
  <div class="container">
    <div class="row">
        <div class="table-responsive">
          <table  class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Project Name</th>
              <th >Responsible user</th>
              <th >tasks</th>
              <th >board</th>
              <th >color</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>name</td>
              <td>User name</td>
              <td>task name</td>
              <td>board name</td>
              <td>color</td>
              <td><button>edit</button></td>
              <td><button>delete</button></td>
            </tr>


            </tbody>
          </table>
        </div><!--end of .table-responsive-->

    </div>
  </div>

</div>

</div>
