@import '../../../../mixins';

#about {
  width: 100%;
  height: 100vh;
  @include flex(center, center);
  padding: 150px 150px 100px 150px;

  .container {
    width: 80%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #85C1E9;
    .blur {
      width: 100%;
      height: 100%;
      background-color: rgba(#85C1E9, .3);
      backdrop-filter: blur(15px);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
    .content {
      width: 100%;
      height: 100%;
    }
  }
}
