
<div class="head">
  <p class="name">{{projectName}}</p>
</div>

<div class="column-container" *ngFor="let column of board.columns">
  <div class="column">
    <div class="col-header">
      <p class="col-name">{{column.name}}</p>
      <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>


    <div class="task" *ngFor="let task of tasks[column.taskStatus] || []">
      <h4>{{task.title}}</h4>
      <p>{{task.value}}</p>
    </div>

    <button type="button" class="add-task" (click)="addTask(column)">
      <span class="material-icons">add</span>
      <p>Add Task</p>
    </button>
  </div>
</div>

<!--  <div class="column">-->
<!--    <div class="prog-header">-->
<!--      <p class="col-name">In Progress</p>-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon>more_horiz</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div class="task"></div>-->

<!--    <div class="add-task">-->
<!--      <span class="material-icons">add</span>-->
<!--      <p>Add Task</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="column">-->
<!--    <div class="col-header">-->
<!--      <p class="col-name">Done</p>-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon>more_horiz</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div class="task"></div>-->

<!--    <div class="add-task">-->
<!--      <span class="material-icons">add</span>-->
<!--      <p>Add Task</p>-->
<!--    </div>-->
<!--  </div>-->

