<div class="container">
  <ng-container *ngFor="let project of projects; let i = index">
    <!--[routerLink]="['/application/setting/board',]  // project.id]"-->
    <div class="project-card"  [ngStyle]="{'border-color': project.color}">
      <h1 [ngStyle]="{'background': project.color}">{{project.abbreviation}}</h1>
      <h2>{{project.name}}</h2>
      <div>
        <button [routerLink]="['/application/setting/description', project.id]">Description</button>
        <button [routerLink]="['/application/setting/edit', project.id]">Edit</button>
      </div>
    </div>
  </ng-container>
  <footer>
    <mat-paginator [length]="projectsLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="settingsChanged($event)"
                   aria-label="Select page"
                   class="paginator">
    </mat-paginator>
  </footer>
</div>


