<span class="material-icons close-btn">close</span>
<form class="form">
  <div class="input-wrapper">
    <label for="name">Project Name</label>
    <input class="input" type="text" />
  </div>

  <div class="input-wrapper">
    <label for="abbr">Abbreviation</label>
    <input class="input" type="text" />
  </div>

  <div class="input-wrapper">
    <label for="desc">Description</label>
    <textarea class="input" type="text"></textarea>
  </div>

  <div class="input-wrapper">
    <label for="color">Color</label>
    <input class="input" type="text" />
  </div>

  <div class="btn-container">
    <button type="submit" class="create-btn">Create Project</button>
  </div>
</form>
