
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign In</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="inpField">

        <input type="text" id="firstName" name="first name" placeholder="First Name" formControlName="firstName" class="inputs"/><br>
        <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
             class="validationMessage">Please enter First Name!</div>
      </div>
      <div class="inpField">

        <input type="text" id="lastName" name="last name" placeholder="Last Name" formControlName="lastName" class="inputs" /><br>
        <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
             class="validationMessage">Please enter Last Name!</div>
      </div>
      <input type="email" placeholder="email" id="email" class="inputs" formControlName="email" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
           class="validationMessage">Please enter Email!</div>
      <input type="password" placeholder="Enter your password" id="password" class="inputs" formControlName="password"/>
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
           class="validationMessage">Please enter Password (min 6 symbol)!</div>
      <input type="password" id="confirmPassword" name="password" placeholder="Confirm your password" formControlName="confirmPassword" class="inputs"/><br>
      <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="validationMessage">Please enter confirmation Password!</div>
      <div *ngIf="this.form.errors?.['notSame']  && this.form?.touched"
           class="validationMessage">Password not match!</div>
      <input type="submit" value="Submit" class="inputs subBtn"/>
      <h4>Already have a account? <a routerLink="/login">Login</a></h4>
    </form>

  </div>
</div>
