<!--<div class="container">-->
<!--<div class="registration">-->
<!--<h2>Registration</h2>-->
<!--  <form [formGroup]="form" (ngSubmit)="submit()" >-->
<!--    <div class="inpField">-->
<!--      <label for="firstName">First Name:</label><br>-->
<!--      <input type="text" id="firstName" name="first name" placeholder="First Name" formControlName="firstName"/><br>-->
<!--    </div>-->
<!--    <div class="inpField">-->
<!--      <label for="lastName">Last Name:</label><br>-->
<!--      <input type="text" id="lastName" name="last name" placeholder="Last Name" formControlName="lastName" /><br>-->
<!--    </div>-->
<!--    <div class="inpField">-->
<!--      <label for="email">Email:</label><br>-->
<!--      <input type="email" id="email" name="email" placeholder="Email" formControlName="email" /><br>-->
<!--    </div>-->
<!--    <div class="inpField">-->
<!--      <label for="password">password:</label><br>-->
<!--      <input type="text" id="password" name="password" placeholder="password" formControlName="password" /><br>-->
<!--    </div>-->
<!--    <div class="inpField">-->
<!--      <label for="confirmPassword">Confirme password:</label><br>-->
<!--      <input type="text" id="confirmPassword" name="password" placeholder="confirm password" formControlName="confirmPassword"/><br>-->
<!--      <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched-->
<!--&&form.get('notSame')">Password does not match</div>-->
<!--    </div>-->

<!--    <input type="submit" value="Submit"/>-->
<!--  </form>-->

<!--</div>-->
<!--</div>-->

<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign In</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="inpField">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="first name" placeholder="First Name" formControlName="firstName" class="inputs"/><br>
        <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
             class="validationMessage">Please enter First Name!</div>
      </div>
      <div class="inpField">
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="last name" placeholder="Last Name" formControlName="lastName" class="inputs" /><br>
        <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
             class="validationMessage">Please enter Last Name!</div>
      </div>
      <input type="email" placeholder="email" id="email" class="inputs" formControlName="email" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
           class="validationMessage">Please enter Email!</div>
      <input type="password" placeholder="password" id="password" class="inputs" formControlName="password"/>
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
           class="validationMessage">Please enter Password!</div>
      <label for="confirmPassword">Confirme password:</label><br>
      <input type="text" id="confirmPassword" name="password" placeholder="confirm password" formControlName="confirmPassword" class="inputs"/><br>
      <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="validationMessage">Please enter confirmation Password!</div>
      <input type="submit" value="Submit" class="inputs subBtn"/>
      <h4>Already have a account? <a routerLink="/login">Login</a></h4>
    </form>

  </div>
</div>
