<div class="menu">
  <div class="options1" routerLink="/application/setting/info" (click)="drawer.toggle()">All Projects</div>
  <div class="options1" routerLink="/application/setting/board" (click)="drawer.toggle()">All Boards</div>
<!-- <div  class="options1"routerLink="/application/setting/edit/:id">Project edit</div>-->
<!--  <div class="options1" routerLink="/application/setting/issueType">Project Issue Types</div>-->
<!--  <div class="options1" routerLink="/application/setting/users">Project Users</div>-->
<!-- <div class="options1" routerLink="/application/main">main</div>-->
  <div class="options1" routerLink="/roles">Roles</div>

</div>
