<!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->

<mat-stepper linear #stepper class="stepper">
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Project</ng-template>
    <app-create-project></app-create-project>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Create abbreviation</ng-template>
    <app-create-board></app-create-board>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup" class="step-input">
      <ng-template matStepLabel>Project description</ng-template>
      <mat-form-field appearance="fill" class="step-form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
    <form [formGroup]="fourthFormGroup" class="step-input">
      <ng-template matStepLabel>Project color</ng-template>
      <mat-form-field appearance="fill" class="step-form-field">
        <mat-label>Color</mat-label>
        <input matInput formControlName="color" placeholder="Blue" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step class="done">
    <ng-template matStepLabel>Done</ng-template>
    <p>Great, your project is now being created!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
