<!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->
<p>{{ nextStepOpen$ | async }}</p>
<mat-stepper
  linear
  #stepper
  class="stepper"
  [selectedIndex]="nextStepOpen$ | async"
>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Project</ng-template>
    <app-create-project></app-create-project>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Board</ng-template>
    <app-create-board></app-create-board>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Issue Type</ng-template>
    <app-create-issue-types></app-create-issue-types>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Users</ng-template>
    <app-add-users></app-add-users>
  </mat-step>

  <mat-step class="done">
    <ng-template matStepLabel>Done</ng-template>
    <p>Great, your project is now being created!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
