<div class="nav" [ngClass]="scrolled ? 'scrolled' : ''">
  <a href="#header">
    <img src="assets/image/logo.svg" alt="logo" class="logo"/>
  </a>
  <div class="nav-links">
    <a href="#header"> home</a>
    <a href="#about"> about project</a>
    <a href="#testimonials"> testimonials</a>
    <a href="#authors"> authors</a>
  </div>
  <div class="auth-links">
    <button type="button" (click)="signUp()">sign up</button>
    <button type="button" (click)="navigateToLogin()">Log in</button>
    <button routerLink="/register" class="registerBtn">Register</button> <!--   შავლეგო ეს ღილაკი ჩავაგდე მაინც, რომ დავლაგდებით მერე ავირჩიოთ რა აჯობებს-->
  </div>
  <div class="toggle-nav">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
