@import '../../../../mixins';

form {
  min-width: 100% !important;
  overflow: auto;
  scroll-behavior: smooth;
  padding-bottom: 70px;
  height: 100%;
  max-height: 100%;
  @include flex(center, center);
  .margin-auto {
    @include flex(space-evenly, center);
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    overflow-y: auto !important;
    min-width: 100%;
    max-height: 100%;

    mat-form-field {
      flex-basis: 40%;
      min-width: 250px;
      background: none;

      input {
        width: 100%;
        margin: 0;
      }
    }

    .add {
      width: 150px;
      position: absolute;
      bottom: 20px;
      left: calc(50% - 75px);
      background: green;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
    }

    .added {
      width: 100%;
      div {
        @include  flex(center, center);
        flex-direction: column;
        padding: 20px 0;
        &.animate {
          animation: bg 1s linear;
          animation-delay: .5s;
        }
        div {
          @include  flex(center, center);
          flex-direction: row;
          gap: 30px;
          flex-wrap: wrap;
          mat-form-field {
            flex-basis: 40%;
            min-width: 250px;
          }
        }
      }
    }
  }
  .mat-mdc-form-field-error{
    color: white;
    font-size: .9rem;
  }
}

@keyframes bg {
  0% {
    background: rgba(#7a5bd7, 0);
  }
  50% {
    background: rgba(#7a5bd7, 1);
  }
  100% {
    background: rgba(#7a5bd7, 0);
  }
}

@media only screen and (max-width: 950px) {
  form {
    padding-bottom: 50px;
    .margin-auto {
      .added {
        div {
          div {
            gap: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  form {
    padding-bottom: 50px;
    .margin-auto {
      .add {
        width: 100px;
        bottom: 20px;
        left: 5px;
        font-size: .8rem;
      }
      mat-form-field {
        width: 220px;
      }
      .added {
        div {
          div {
            gap: 0px;

            mat-form-field {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
