* {
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7A1DE0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5B90F8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CE42BC;
}
