<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
=======
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
>>>>>>> adc1ee5e21e535c77ad63b57cf50504d29e74851

* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a1de0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b90f8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
<<<<<<< HEAD
  background: #ce42bc;
}
=======
  background: #CE42BC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> adc1ee5e21e535c77ad63b57cf50504d29e74851
